.App {
	width: 100%;
	height: 100vh;
	background-image: url("assets/background.png");
	background-repeat: no-repeat;
	background-size: 100% 100vh;
	position: relative;
}

.App .logo {
	width: 125px;
	position: absolute;
	top: 3vh;
	left: 17.5%;
}

.App .logo img {
	width: 100%;
	height: auto;
}

.App > .container {
	background: #f2c5ca;
	position: absolute;
	width: 65%;
	height: 65vh;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	box-shadow: 0px 0px 0px 5px #165bff, 0px 0px 0px 10px #ff0b01,
		0px 0px 0px 15px #0bff25;
	padding: 1.6rem 1.2rem;
	overflow-y: scroll;
}

.App > .navbar {
	position: absolute;
	right: 17.5%;
	top: 5vh;
	width: 20%;
}

h2 {
	text-align: center;
}

fieldset {
	border: 0;
}

.App > .container div {
	z-index: 10;
}

.form-grid-container {
	width: 50%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 15px;
}

.job-form-grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
}

.form-grid-container input,
.job-form-grid-container input:not([type="checkbox"]) {
	width: 100%;
	border: 0;
	border-bottom: 2px solid #000;
	padding: 5px 10px;
	transition: all 0.3s ease-in-out;
}

.react-datepicker-wrapper {
	width: 100%;
}

.job-form-grid-container input[type="checkbox"] {
	margin-left: 15px;
}

.form-grid-container input:focus {
	border-bottom: 2px solid #de441c;
}

label {
	display: inline-block;
	padding-bottom: 10px;
}

.form-grid-container button {
	border-radius: 3px;
	border: 0;
	padding: 10px 15px;
	background: #de441c;
	color: #f2c5ca;
	font-weight: bold;
	text-transform: uppercase;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style-type: none;
}

nav ul a,
nav ul button {
	text-decoration: none;
	background: #de441c;
	color: #f2c5ca;
	padding: 10px 15px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 3px;
	border: 0;
}
